<table cellpadding=4px >
  <tr>
    <th bgcolor="#99aaff"><i>Title</i></th>
    <th bgcolor="#aaccff"><i>Description</i></th>
    <th bgcolor="#99aacc"><i>Rating </i></th>
  </tr>

<% @movies.each do |movie| %>
    <tr>
    <td>
    <strong><%= link_to movie.title, movie %></strong>
    </td>
    <td><%= movie.description %> </td>
    <td><%= movie.rating %> </td>
    </tr>

<% end %>


</table>