header {
    background: url("../office_wideangle_blue.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
}

#logotype {
    font-family: 'Bigshot One', cursive;
    font-size: 65px;
    color: #bf4c1b;
    background: black;
    border: 7px solid white;
    border-radius: 100px;
    position: absolute;
    left: 100px;
    margin-top: 75px;
    padding: 25px;
}

body {
    font-family: Verdana;
}

ul {
    max-width: 500px;
    margin: 0 auto;
}

li {
    padding: 2px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: 'Bigshot One', cursive;
    font-size: 36px;
    color: #bf4c1b;
}

h2 {
    font-family: 'Oldenburg', cursive;
    font-size: 20px;
    color: #1f94ab;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0e839a;
}

