// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Verdana, sans-serif;
$pale-yellow: #ffffcc;
$dark-yellow: #6E6130;

body {
  font: 100% $font-stack;
  background: $pale-yellow;
}

h1 {
  color: $dark-yellow;
}